<app-home></app-home>
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

    <div class="row mb-3">
        <div class="col">
            <label class="form-label" for="">Check In Date: </label>
            <input class="form-control" type="date" formControlName="checkInDate">
            <small class="text-danger" *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
                Check In Date is required       
            </small>

        </div>
        <div class="col">
            <label class="form-label" for="">Check Out Date: </label>
        <input class="form-control" type="date" formControlName="checkOutDate">
        <small class="text-danger" *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
            Check Out Date is required       
        </small>
        </div>
    </div>

   
    <div class="mb-3">

        <label class="form-label" for="">Guest Name: </label>
        <input class="form-control" type="text" formControlName="guestName">
        <small class="text-danger" *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
            Guest Name is required       
        </small>
    </div>
    <div class="mb-3">

        <label class="form-label" class="form-label" for="">Guest Email: </label>
        <input  class="form-control" type="text" formControlName="guestEmail">
        <small class="text-danger" *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
            Guest Email is required       
        </small>
    </div>
    <div class="mb-3">

        <label class="form-label" class="form-label" for="">Room number: </label>
        <input class="form-control" type="number" formControlName="roomNumber">
        <small class="text-danger" *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
            Room Number is required       
        </small>
    </div>
   
<button class="btn btn-primary my-3" type="submit"  [disabled]="reservationForm.invalid">Submit</button>
</form>
